.ventana-renderizado {
    width: 65vw;
    height: 85vh;
    background-color: var(--color-blanco);
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 30px black;
}

.barra-superior {
    height: 4%;
    width: 100%;
    background-color: var(--color-azul-claro);
    display: flex;
    justify-content: space-between;
}

.barra-superior>h4 {
    color: var(--color-blanco);
    font-weight: 400;
    text-align: center;
}

.barra-superior>img {
    padding: 0.5vh;
}

.contenedor-botonera {
    display: flex;
    align-items: center;
}

.contenedor-botonera>span {
    font-size: 16px;
    width: 2vw;
    color: var(--color-blanco);
}

.contenedor-seccion {
    height: 96%;
}

/* RESPONSIVE */
@media(max-width:768px){
    .ventana-renderizado {
        width: 75vw;
    }

    .contenedor-botonera>span {
        font-size: 12px;
    }
}

@media (max-width: 580px){
    .ventana-renderizado {
        width: 94vw;
        min-height: 50vh;
        height: auto;
    }

    .barra-superior {
        height: 4vh;
        width: 100%;
    }
    .barra-superior>img {
        width: 5%;
    }
    .contenedor-botonera {
        justify-content: flex-end;
        padding-right: 1vw;
        width: 10%;
    }
    .contenedor-botonera>span {
        font-size: 18px;
        width: 4vw;
    }
    
    

}

@media(max-width: 425px){
    .barra-superior>img {
        width: 7%;
    }
    .contenedor-botonera>span {
        font-size: 16px;
        margin: 0 0.5vh;
    }
    
}