.ventana-renderizado{
    width: 65vw;
    height: 85vh;
    background-color: var(--color-blanco);
}

.barra-superior{
    height: 4%;
    width: 100%;
    background-color: var(--color-azul-claro);
    display: flex;
    justify-content: space-between;
}