
.contenedor-sobreMi{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow: hidden;
    padding: 1vh 1vw 1vh 1vw;
}

.encabezado-sobreMi{
    display: flex;
    max-height: 50%;
    overflow: hidden;
    align-items: center;

}
.avatar{
    translate: -3vw;
    max-width: 40%;
    filter: drop-shadow(5px 10px 10px  black);
}

.titulo-sobreMi{
    display: flex;
    flex-direction: column;
}

.titulo-sobreMi > h1{
    font-size: 2rem;
}

.titulo-sobreMi > h3{
    font-size: 1.5rem;
    font-weight: 500;
}

.texto-sobreMi{
    margin-bottom: 5vh;

    font-weight: 500;
    font-size: 1.5rem;
}

.footer-sobreMi{
    width: 100%;
    margin-bottom: 4vh;
    display: flex;
    justify-content: space-around;

}

.img-contacto-sobreMi{
    max-width: 80%;
    cursor: pointer;
    filter: drop-shadow(1px 1px 5px black);
}