
.contenedor-sobreMi{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow: hidden;
    padding: 1vh 1vw 1vh 1vw;
}

.encabezado-sobreMi{
    display: flex;
    align-items: center;

}
.contenedor-avatar{
    max-width: 35%;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
}
.avatar{
    max-width: 100%;
    filter: drop-shadow(5px 10px 10px  black);
}

.titulo-sobreMi{
    display: flex;
    flex-direction: column;
}

.titulo-sobreMi > h1{
    font-size: 2rem;
}

.titulo-sobreMi > h1::before{
    content: '¡Hola!\A Soy ';
    white-space: pre;
}

.titulo-sobreMi > h3{
    font-size: 1.5rem;
    font-weight: 500;
}

.texto-sobreMi{
    margin-bottom: 5vh;

    font-weight: 500;
    font-size: 1.5rem;
}

.footer-sobreMi{
    width: 100%;
    margin-bottom: 4vh;
    display: flex;
    justify-content: space-around;

}

.img-contacto-sobreMi{
    max-width: 80%;
    cursor: pointer;
    filter: drop-shadow(1px 1px 5px black);
}

/* RESPONSIVE */
@media(max-width:768px){
    .contenedor-sobreMi{
        padding: 0vh 1vw 1vh 1vw;
        justify-content: flex-start;
    }

    .contenedor-avatar{
        width: 35%;
        max-height: 100%;
    }
    .avatar{
        padding-top: 2vh;
        translate: -3vw;
        max-width: 120%;
    }
    .titulo-sobreMi{
        width: 70%;
    }
    .titulo-sobreMi > h1{
        font-size: 1.5rem;
    }
    
    .titulo-sobreMi > h3{
        font-size: 1.2rem;
        font-weight: 500;
    }
    .footer-sobreMi{
        margin: 4vh 0 4vh 0;
    }

}

@media(max-width: 580px){

    .contenedor-sobreMi{
        padding: 1vh 2vw 1vh 2vw;
    }
    .contenedor-avatar{
        max-width: 30%;
    }

    .titulo-sobreMi {
    align-items: center;
}

    .titulo-sobreMi > h1{
        font-size: 1.2rem;
    }    
    .titulo-sobreMi > h1::before{
        content: '';
    }
    .titulo-sobreMi > h3{
        font-size: 1rem;
    }
    .texto-sobreMi{
        margin-bottom: 5vh;
    
        font-weight: 500;
        font-size: 1rem;
    }


}

@media(max-width:380px){
    .titulo-sobreMi > h1{
        font-size: 1rem;
    }  
    .img-contacto-sobreMi{
        max-width: 60%;
    }
}