.contenedor-proyectos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3vh 1vw 3vh 1vw;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.proyecto-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40%;
    max-height: 40%;
    cursor: pointer;
}

.proyecto-item>p{
    margin-top: 1vh;
    font-weight: 500;
}

.proyecto-img {
    max-width: 100%;
    box-shadow: 0px 0px 10px var(--color-azul);
}

/* Descripcion de proyecto */
.seccion-descripcion {
    position: relative;
    max-width: 100%;
}

.contenedor-irAtras {
    position: absolute;
    background-color: var(--color-azul-claro);
    width: 3vw;
    height: 5vh;
    padding: 0;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.flecha-irAtras {
    color: var(--color-blanco);
}

/* RESPONSIVE */
@media (max-width:768px){
    .contenedor-proyectos {
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 3vh 2vw 3vh 2vw;
    }

    .proyecto-item {
        flex-direction: row;
        align-items: center;
        max-width: 100%;
        max-height: 22%;
    }
    .proyecto-item>p{
        font-size: 1.2rem;
        margin-top: 0;
        margin-left: 2vw;
    }
    .proyecto-img {
        max-width: 45%;
    }

    /* Descripcion de proyecto */
    .contenedor-irAtras {
        width: 5vw;
    }
}

@media(max-width:580px){
    .proyecto-item {
        max-height: 50%;
        margin-bottom: 5vh;
    }

}

@media(max-width:425px){
    .contenedor-irAtras {
        width: 8vw;
    }
    .proyecto-item>p{
        font-size: 1rem;
    }
}