*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}

:root{
--color-azul: rgb(7, 30, 61);
--color-azul-claro: rgb(31, 66, 135);
--color-azul-claro-2: rgb(39, 142, 165);
--color-turquesa: rgb(56, 201, 140);
--color-blanco: rgb(255, 252, 242);
}
body{
  background-color: var(--color-azul);
}


.contenedor-general{
  max-width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 5vh 2vw 0vh 2vw ;

}
.iconos-secciones{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 1vh 3vw 1vh 3vw;
  width: 30vw;
  height: 85vh;
}

.icono-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 10vw;
}

.icono-item > img{
  max-width: 64px;
  filter: drop-shadow(1px 1px 5px black);
}
.icono-item > p{
  color: var(--color-blanco);
  cursor:default ;
}

.icono-item:hover, .icono-item-seleccionado{
  background-color: var(--color-azul-claro);
  outline: 1px solid var(--color-azul-claro-2);
  border-radius: 5px;
}


/* RESPONSIVE */
@media(max-width:768px){
  .iconos-secciones{
    width: 25vw;
  }
  .icono-item{
    width: 15vw;
    height: 15vw;
  }

}
