.contenedor-proyecto-descripcion{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}
.proyecto-header{
    font-size: 2rem;
    text-align: center;
    width: 100%;
}

.proyecto-main{
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    align-items: center;
}

.proyecto-descripcion{
    font-size: 1.5rem;
    padding: 0 1vw 0 1vw;
    font-weight: 500;
}

.proyecto-footer{
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 1vw 0 1vw;
}

/* RESPONSIVE */
@media(max-width:768px){
    .proyecto-header{
        font-size: 1.5rem;
        margin-bottom: 2vh;
    }

    .proyecto-main{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 3vh;
    }
    .proyecto-imagen{
        max-width: 75%;
        margin-bottom: 3vh;
    }
    .proyecto-descripcion{
        font-size: 1.5rem;
        padding: 0;
        font-weight: 500;
    }

    .proyecto-footer {
        margin: auto;
    }


}

@media(max-width:580px){
    .proyecto-descripcion{
        font-size: 1rem;
    }
    .proyecto-footer-img{
        width: 75%;
    }
}

@media(max-width:425px){
    .proyecto-header{
        font-size: 1.2rem;
        margin-bottom: 2vh;
    }
    
}