.tecnologias-contenedor{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 3vh 1vw 3vh 1vw;
}

.contenedor-iconos{
    display: flex;
    flex-direction: column;
    align-items: center;}
    
.tecnologias-iconos{
    width: 4vw;
}